.msg-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: inherit;
    backdrop-filter: blur(5px);
    height: 22rem;
    width: 22rem;
    border: solid 2px rgba(136, 170, 221);
    border-radius: 1rem;
    padding: 0.6rem;
    box-sizing: border-box;
    overflow:hidden

}
.msg-container{
    /* flex:1;
    display: flex;
    flex-flow: column; */
    /* flex-basis: auto; */
    /* white-space: nowrap; */
    height: 85%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: flex-end;
}
.input-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: groove 2px rgba(136, 170, 221,0.8);
    
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.input-box >input {
    background-color: inherit;
    color: #fff;
    outline: none;
    border: none;
    padding: 0.4rem;
    min-height: 2rem;
    width: 84%;
}
.input-box >button{
    color: #fff;
    background-color: rgba(136, 238, 221,0.66);
    padding: 0.4rem 0.8rem;
     border-top-right-radius: 0.3rem;
     border-bottom-right-radius: 0.3rem;
     outline: none;
     position: absolute;
     right: 0;
     border: none;
}
button:hover{
    outline: none;
    background-color: rgba(136, 238, 221,0.88);
}
input::placeholder{
    color: lightcyan;
}
.txt-msg-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.txt-msg{
    color: #fff;
    background-color: rgba(106, 214, 178,0.5);
    backdrop-filter: blur(2px);
    padding: 0.35rem 0.44em;
    border-radius: 0.5rem;
    margin-top: 5px;
    max-width: 75%;
    height: auto;
    word-wrap: break-word;
    transition: all 100ms linear;
    transform: translateX(-10px);
    transform: translateX(0);
}
.left{
justify-content: flex-start;
}
.right{
justify-content: flex-end;
}
.right > .txt-msg{
    background-color: rgba(136, 170, 221,0.5);
}
.info{
    position: absolute;
    padding: 0.30rem 0.45rem;
    background-color: rgba(136, 170, 221,0.6);
    backdrop-filter: blur(5px);
    color: #eee;
    top: -10px;
    /* border-radius: 1rem; */
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    align-self: center;
}