<div class="msg-root">
    <div class="info">Meeting Chat</div>
<div class="msg-container" id="divRef" #ref>
<div class="txt-msg-container" style="width: 100%;" *ngFor="let msg of message" [ngClass]="{right:msg.socketId==mySocketId}">
    <p class="txt-msg">

        {{msg.message}}
    </p>
   
</div>
<h2 *ngIf="message.length==0" style="justify-self: center;text-align: center; color: rgb(136, 170, 221);">No messages</h2>
</div>
<!-- <div > -->
<form class="input-box" (ngSubmit)="onSend(msg)">
    <input placeholder="Enter your message"  type="text" #msg />
    <button  type="submit" class="msg-btn"><i class="bi bi-send-fill"></i></button>
</form>

<!-- </div> -->
</div>
