<div class="msg-root">
  <div class="info">Meeting Chat</div>
  <div class="msg-container" id="divRef" #ref>
    <div
      class="txt-msg-container"
      style="width: 100%"
      *ngFor="let msg of message"
      [ngClass]="{ right: msg.socketId == mySocketId }"
    >
      <p class="txt-msg">
        {{ msg.message }}
      </p>
    </div>
    <h2
      *ngIf="message.length == 0"
      style="
        justify-self: center;
        text-align: center;
        color: rgb(136, 170, 221);
        margin-top: 1rem;
      "
    >
      <i style="font-size: 3rem" class="bi bi-emoji-frown-fill"></i>
      <br />
      Chat is empty!
    </h2>
  </div>
  <!-- <div > -->
  <div class="input-box">
    <input placeholder="Enter your message" type="text" #msg />
    <button
      title="message-button"
      (click)="onSend(msg)"
      type="button"
      class="msg-btn"
    >
      <i class="bi bi-send-fill"></i>
    </button>
  </div>

  <!-- </div> -->
</div>
